.grecaptcha-badge {
	opacity: 0;
}

exa-donate {
	display: block;
}

.donate-form {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 18px;
}

.donate-form {
	background-color: white;
	max-width: 580px;
	border-radius: 2px;
	padding-bottom: 18px;
	@include setCol(3, 2);
	width: col(3);
	@include breakpoint("mobilexl") {
		@include setCol(6, 2);
		width: col(6);
	}
	.header {
		margin: 15px gutter() 24px;
		border-bottom: 1px solid $grey;
		display: inline-block;
		width: col(3);
		@include breakpoint("mobilexl") {
			width: col(6);
		}
		h3 {
			font-size: 36px;
			font-family: $headline;
			margin: 12px 0;
		}
		p {
			font-family: $headline;
			margin: 12px 0;
		}
	}
	.charm {
		position: absolute;
		top: 24px;
		font-size: 60px;
		right: gutter();
		font-size: 2em;
	}
	.disclaimer {
		margin: 36px gutter() 24px;
		color: grey;
	}
	.disclaimer a {
		color: grey;
		text-decoration: underline;
	}
	p {
		margin-bottom: 12px;
		font-size: 0.8em;
	}
}
